@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;1,100;1,400&family=Roboto:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/*..... Header .....*/

header{
    background-color: white;
    display: flex;
    height: 7em;
    align-items: center;
    font-family: Roboto, sans-serif;
}
#logocontainer{
    width: 50%;
}
#menu{
    padding-left: 50px;
}

#menu li{
    display: inline;
    margin-left: 70px;
}
#logo{
    float: left;
    width: 40%;
    height: 250px;
    margin-left: 30px;
}


#menu a{
    text-decoration: none;
    color: #184E20;
    font-size: 130%;
    font-family: Roboto, sans-serif;
}

#menu a:hover{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 20px;
    color: black;
    font-size: 110%;
    padding: 10px;
    letter-spacing: 3px;
}
.active{
    border-bottom: 1px solid black;
 }

 /* Brand Message and background Image */
#image-cont{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

#image-cont #slides > div {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: animate 20s infinite;
    opacity: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#image-cont #slides > div:nth-child(2){
    animation-delay: 5s;
}
#image-cont #slides > div:nth-child(3){
    animation-delay: 10s;
}
#image-cont #slides > div:nth-child(4){
    animation-delay: 15s;
}
@keyframes animate {
    10%{
        opacity: 0.7;
    }
    20%{
        opacity: 0.7;
    }
    30%{
        opacity: 0;
    }
    40%{
        transform: scale(1.2);
    }
    
}

/*.... Cover text ....*/
#brandCall{
    font-size: 160%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 280px;
    
    padding-top: 40px;
    padding-left: 20px;
    background-color: #184E20;
    opacity: 0.9;
    bottom: 30px;
    right: 80px;
    position: absolute;
    border-radius: 40%;

    color: white;
    text-align: center;
}
#brandCall #quote{
    background-color: rgb(230, 32, 65);
    width: 30%;
    height: 30px;
    padding: 5px;
    font-weight: 900;
    font-size: 50%;
    color: white;
}
#brandCall #quote:hover{
    background-color: white;
    color: rgb(230, 32, 65);
}

/* Our Service */
#contentbox{
    text-align: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    font-size: 120%;
}
#subheader{
    color: #184E20;
    margin: 25px;
}
#contentbox #statedlist .content1 .image{
    width: 100%;
    height: 180px;
}

#statedlist{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.content1{
    border: 2px solid #184E20;
    width: 100%;
    color: #184E20;
    margin: 10px;
    height: 380px;
    text-align: center;
    font-family: Archivo,sans-serif;
    
}
.content1 > p{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.content1 a{
    text-decoration: none;
    margin-top: 5px;
    color: rgb(230, 32, 65);
    border-radius: 10px;
    font-family: Roboto,sans-serif;
    font-weight: 900;
}
.content1 a:hover{
    background-color: rgb(230, 32, 65);
    color: white;
}
.subject{
    margin: 20px;
    font-weight: 900;
}

/* Blog section */

#blog{
    text-align: center;
    font-size: 130%;
    width: 100%;
    height: 500px;
    background-color: #184E20;
    margin: 0 auto;
}
#blogheader{
    color: white;
    margin: 25px;
    padding-top: 5px;
}
#blogcontent{
    display: flex;
    width: 90%;
    height: 380px;
    margin: 0 auto;
}

.bloghighlight{
    background-color: white;
    width: 100%;
    color: #184E20;
    margin: 10px;
    height: 380px;
    text-align: center;
    overflow: hidden;
}
.blogimage{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}
.bloghighlight h4{
    margin: 4px;
}

.readmore{
    margin: 0 auto;
    display: block;

    width: 40%;
    height: 30px;
    background-color: rgb(230, 32, 65);
    
    border-radius: 10px;
    margin-top: 10px;

    font-weight: bold;
    color: white;
}
.readmore:hover{
    background-color: white;
    color: rgb(230, 32, 65);
    border: 1px solid  rgb(230, 32, 65);
}

/* Contact */

#contact{
    color: #184E20;
    background-color: white;
    width: 100%;
    height: 190px;
    margin-top: 30px;
    padding: 20px;
}
#subsubject{
    color: #184E20;
    font-size: 40px;
    margin-bottom: 5px;
}

#subject{
    width: 40%;
    padding: 20px;
    margin-left: 20px;
}

aside{
    text-align: center;
    border: 2px solid #184E20;

    width: 350px;
    height: 150px;
    
    background-color:white ;
    color: #184E20;
    line-height: 30px;
    
    margin-bottom: 5px;
}
.fa-phone, .fa-message{
    font-size: xx-large;
    margin: 20px 0 5px 0;
    color: rgb(230, 32, 65);
}

#contact1{
    float: left;
    margin-left: 270px;
}
#contact2{
    float: right;
    margin-right: 270px;
}

/* Map */
#mapspace{
    background-color: #184E20;
    width: 100%;
}
#map{
    width: 100%;
    height: 250px;
}

/* Footer */

footer{ 
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 15px 0 15px 0;

    color: #184E20;
    text-align: center;
}
footer #actioncall{
    margin: 5px;
}

footer label{
    font-family: Archivo, sans-serif;
    font-size: larger;
    font-weight: 600;
}

footer #subscribe{
    border: 2px solid #184E20;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    margin: 5px 0 5px 0;
}

footer #subscribebtn{
    display: inline-block;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;
    width: 8%;
    padding: 10px;
    background-color: rgb(230, 32, 65);
}
footer #subscribebtn:hover{
    background-color: white;
    color: rgb(230, 32, 65);
    border: 1px solid  rgb(230, 32, 65);
}

footer #sociallinks{
    text-align: center;
}

#sociallinks > li{
    display: inline;
}

#sociallinks i{
    text-align: center;
    font-size: 200%;
    margin: 2%;
    color: #184E20;
 }
 #copyright{
    margin-bottom: 10px;
    font-size: larger;
 }
 #copyright i{
    display: block;
    margin: 0 2px 2px 2px;
    font-size: small;
 }

 /*..... Services Page .....*/
#services{
    width: 95%;
    height: auto;
    text-align: center;
    margin: 0 auto;

    font-family: Archivo,sans-serif;
    color: #184E20;
}
#servicehead{
    margin: 10px;
    background-color: #184E20;
    color: white;
}
#servicehead h2{
    margin: 5px;
    font-weight: 900;
    letter-spacing: 4px;
}
#servicehead p{
    font-size: 130%;
}

#maincontent{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
#maincontent .servicelist{
    flex: 1 0 40%;
    width: 50%;
    height: 300px;
    color: #184E20;
    


    margin: 20px 0 20px 0;
    
    align-content: center;
    text-align: center;
    
}

#maincontent .servicelist > div{
    margin-top: 80px;
    float: right;
    width: 50%;
}

#maincontent .servicelist > img{
    width: 50%;
    height: 100%;
}


/* Form */

#form-section {
    width: 95%;
    margin: 0 auto;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/slide11.webp"); 
    background-size: cover;
    background-position: center; 
    
}
.signup-form {
    width: 40%;
    height: 80%;
    opacity: 0.8;
    color: white;
    background-color: #184E20;
    padding: 20px;   
}

.signup-form > h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.text-input {
    display: block;
    color: white;
    width: 70%;
    height: 35px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    font-size: 120%;
}

.text-input:hover {
    border-color: #184E20;
}
table{
    margin: 10px 0 10px 0;
}
td {
    padding-right: 10px;
}
#message{
    display: block;
    color: white;
    width: 70%;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    font-size: 120%;
}

input[type="submit"] {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    background-color: rgb(230, 32, 65);
    color: #fafafa;
    display: block;
}

input[type="submit"]:hover {
    background-color: white;
    color: rgb(230, 32, 65);
    font-weight: 900;
}

 /* Responsiveness on smaller screens */

 @media screen and (max-width: 1200px) {
    #menu li{
        margin-left: 50px;
    }
    .content1 > p{
        margin: 0 1px 0 1px;
    }
    #blogcontent{
        width: 95%;
        height: 450px;
        margin: 0 auto;
    } 
 }

 @media screen and (max-width: 800px) {
    #logocontainer #name{
        display: inline;
        margin-top: 18px;
        
    }
    #contentbox{
        height: 100%;
    }
    #statedlist{
        flex-direction: column;
        width: 80%;
        height: 100%;
        gap: 10px;
    }
    .content1{
        width: 50%;
        margin: 0 auto;
       
    }
    #blog{
        height: 100%;
    }
    #blogcontent{
        flex-direction: column;
        height: 100%;

    }
    
    .bloghighlight{
        height: 300px;
        display: flex;
        width: 80%;
    }
    .blogimage{
        width: 50%;
        height: 250px;
        margin: 20px;
    }

    .bloghighlight > div{
       padding: 50px;
    }
    footer #subscribebtn{
        width: 12%;
    }

    /* Form */
.signup-form {
    width: 60%;
}
table{
    margin: 10px 0 10px 0;
    width: 100%;
}

textarea{
    margin: 5px 0 5px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    font-size: 120%;
}
input[type="submit"] {
    margin-top: 0;
    padding: 10px 25px 10px 25px;
}
}

@media screen and (max-width:500px){
    header{
        flex-direction: column;
        height: 10em;
        align-items: center;
    }
    #logocontainer{
        width: 100%;
    }
    #logocontainer #logoname{
        display: inline-block;
        margin-top: 50px;
    }
    
    #menu li{
        margin-left: 50px;
    }
    #logo{
        width: 25%;
    }
    .active{
        border-bottom: 1px solid black;
     }
    
     #brandCall{
         font-size: 140%;
        letter-spacing: 2px;
        padding: 20px 0 0 10px;
        width: 400px;
        height: 200px;
        right: 0; 
    }
    #statedlist{
        width: 100%;
    }
    .content1{
        height: 380px;
        width: 80%;
        font-size: 100%;
    }
    #contentbox #statedlist .content1 .image{
        width: 100%;
        height: 200px;
    }
    .content1 > p{
        font-size: 100%;
        margin: 0 3px 0 3px;
    }
    .subject{
        margin: 10px;
    }
    .content1 a{
        margin-top: 2px;
        right: 70px;
    }
    
    #blogcontent{
        width: 95%;
    }
    
    .bloghighlight{
        background-color: white;
        height: 200px;
    }
    .bloghighlight > div{
        padding: 0;
     }
     .blogimage{
        width: 50%;
        height: 200px;
        margin: 0;
    }
    .bloghighlight h4{
        margin: 4px;
    }
    .readmore{
        width: 60%;
        margin-top: 20px;
    }

    /* Contact */

#contact{
    height: 150px;
    margin-top: 0;
    padding: 5px;
}
#subject{
    width: 100%;
    padding: 0;
    margin-left: 3px;
}
aside{
    width: 200px;
    margin-bottom: 10px;
}
#contact1{
    margin-top: 10px;
    margin-left: 100px;
}
#contact2{
    margin-right: 100px;
}
/* Footer */

footer #subscribe{
    width: 60%;
    padding: 8px;
}
footer #subscribebtn{
    width: 30%;
    padding: 8px;
}

 /*..... Services Page .....*/
#maincontent{
    flex-direction: column;
}
#maincontent .servicelist{
    width: 100%;
    display: flex;
}
#maincontent .servicelist > div{
    margin-top: 0;
}

#maincontent .servicelist > img{
    width: 50%;
}
      /* Form */
#form-section{
    height: 900px ;
}
.signup-form{
    height: 85%;
}
table{
    margin: 10px 0 10px 0;
}

td{
    display: block;
    margin: 5px;
}
textarea{
    margin: 5px 0 5px 0;
    width: 80%;
}
input[type="submit"] {
    margin-top: 0;
    padding: 10px 25px 10px 25px;
}
}


